#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;

  .menuAside {
    width: 270px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50px;

    .icon-menu {
      width: 120px;
      height: 60px;

      border-radius: 7px;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: filter 0.2s;
      &:hover {
        filter: brightness(0.8);
      }

      span {
        margin: 10px;
      }
    }
  }
  .logoDescriptionAside {
    width: 440px;

    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    header {
      display: grid;
      grid-template-rows: 1fr 1fr;
      height: 200px;
      margin-top: 100px;
      img {
        width: 300px;
      }

      p {
        font-size: 1rem;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    input {
      border: white;
      border-radius: 5px 0 0 5px;
      padding: 5px 5px;
      width: 100%;
    }
  }

  .overlayView {
    max-width: 150px;
    height: 50px;
    color: black;
    background: rgba(255, 255, 255, 0.95);
    padding: 7px;
    cursor: pointer;
    border-radius: 0 9px 9px 9px;
    text-align: center;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.9);
    }

    p {
      margin: 5px 0;
      font-size: 0.5rem;
      color: black;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
